{
  "extends": "airbnb-base",
  "globals": {
    "expectAsync": true
  },
  "env": {
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "rules": {
    "indent": ["error", 4],
    "max-len": ["error", 120],
    "valid-jsdoc": ["error", { "requireReturn": false }],
    "consistent-return": 0
  }
}
